.badge {
  display: flex;
  align-items: center;
  justify-content: center;

  &_button {
    width: 43px;
    height: 25px;
    background: var(--blue-100);
    border-radius: 10px;
    color: var(--accent);
    font-size: 12px;
    font-weight: 500;
  }

  &_rounded {
    width: 16px;
    height: 16px;
    background: var(--accent);
    border-radius: 50%;
    color: var(--white);
    font-size: 10px;
  }
}
