.card {
  background: var(--white);
  border-radius: 30px;
  box-shadow: 0 20px 90px rgba(205, 217, 224, 0.5);

  &_size_sm {
    max-width: 331px;
  }

  &_padding_md {
    padding: 26px 24px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    &__title {
      margin: 0;
      font-size: 18px;
      font-weight: 500;
      line-height: 21px;
    }

    &__options {
      display: flex;
      width: 100%;
      max-width: 31px;
      justify-content: space-between;
      padding: 10px 5px;

      div,
      &::before,
      &::after {
        width: 5px;
        height: 5px;
        background-color: var(--grey-300);
        border-radius: 50%;
      }

      &::before,
      &::after {
        content: '';
        transition: transform 0.3s;
      }

      &:hover::before {
        transform: translateX(-3px);
      }

      &:hover::after {
        transform: translateX(3px);
      }
    }
  }
}

.messages-row {
  display: flex;

  &__avatar {
    width: 57px;
    height: 57px;
    margin-right: 15px;
    object-fit: cover;
  }

  &__titles {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 19px;
  }

  &__name {
    margin-bottom: 6px;
    color: var(--dark);
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
  }

  &__message {
    color: var(--text);
    font-size: 14px;
    font-weight: 500px;
    line-height: 16px;
  }

  &__time {
    margin-bottom: 14px;
    color: var(--text);
    font-size: 10px;
    line-height: 11px;
  }

  &__new-messages {
    display: flex;
    width: 14px;
    height: 14px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background: var(--accent);
    border-radius: 50%;
    color: var(--white);
    font-size: 8px;
    line-height: 9px;
  }

  & + & {
    margin-top: 15px;
  }
}
