.photos {
  &__text {
    margin-bottom: 25px;
    font-size: 12px;
    line-height: 14px;
  }

  &__grid {
    display: grid;
    gap: 10px;
    grid-area: photos;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    &__button {
      width: 76px;
      height: 70px;
      background: url('../images/icons/plus.svg') no-repeat center;
      background-color: var(--blue-100);
      border-radius: 15px;
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
